/* calculator.html|./css/calculator.css */
@font-face {
  font-family: Segment7Standard;
  src: url(../font/Segment7Standard.otf);
}

#calc-contain{
    position: relative; /* Posiciona no meio da tela */
    max-width: 350px;   
    border: 20px solid black;
    margin: 0px auto;    
  }

  input[type=button] {
    background: lightGray;
    font-size: 20px;
    font-weight: 90;   
  }
    
 #visor {    
    background: url(../img/top.gif);
    background-repeat: no-repeat;
    background-size: contain;
    font-family: Segment7Standard;
    font-size: 35px;
    text-shadow: 1px -3px 2px rgb(90, 90, 90);
    color: black;  
    padding: 15% 0 10% 12%;
 }

#button_1{
    background: url(../img/1.gif);
    background-repeat: no-repeat;
    background-size: contain;    
    padding: 10% 0% 0% 0%;
}